<div>
    <div class="header sticky-top">
        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
    </div>
    <div class="mb-5" data-value="normal">
        <!-- New year effect -->
        <!--<app-snow-effect></app-snow-effect>-->
        <router-outlet></router-outlet>
    </div>
    <div>
        <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
    </div>
</div>
<ng-template #headerTemplate>
    <header>
        <nav class="navbar navbar-light bg-light justify-content-center">
            <div class="d-none d-lg-flex justify-content-between w-100 mx-2">
                <div>
                    <a class="navbar-brand title fw-bolder multicolor-text" href="/home">{{'$app.header-text' | translate}}</a>
                    <div class="mt-1 text-wrap header-description">{{'$app.header-description-text' | translate}}</div>
                </div>
            </div>
        </nav>
    </header>
    <hr class="header-divider my-0"/>
</ng-template>
<ng-template #footerTemplate>
    <footer>
        <div class="d-none d-md-block fixed-bottom text-muted bg-light">
            <div class="d-flex justify-content-between align-items-center">
                <div></div>
                <div>weareukraine.org.ua&copy; 2022 - {{currentYear()}}</div>
            </div>
        </div>
    </footer>
</ng-template>
